jupyterlab
ipykernel
notebook
ipywidgets
mpltools
nbformat
nbconvert
# git+https://github.com/dynamicslab/pysindy.git@master#egg=pysindy
dmsuite
gym
memory_profiler
gmsh
modred
seaborn
# slycot
control
--no-binary=h5py h5py
ray[rllib]
torch #==1.10.0
tensorboard
folium>=0.12.0
pygmsh<=6.1.1
geojson
meshio
gmsh
MeshPy
pooch
pygmsh
rasterio
shapely
tqdm
xarray
